<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geomoby.demoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.PERMISSION_GRANTED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission  android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".GeoMobyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupOnly="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivityNew"
            android:launchMode="singleInstance"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discount.DiscountActivityNew"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingsActivityNew"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fence_history.FenceHistoryActivity"
            android:exported="true"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".ui.fences_log.FencesLogActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- ****** START: Firebase Service ******* -->
        <service android:name=".logic.firebase.FirebaseManager"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- ****** END: Firebase Service ******* -->
        <!-- ****** START: GeoMoby Services & Receivers ******* -->
        <service
            android:name=".GeoService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
        <service android:name="com.geomoby.managers.GeomobyBeaconManager"
            android:exported="true" />
        <service
            android:name="com.geomoby.managers.job.GpsManagerSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.geomoby.receiver.GeomobyGPSManager"
            android:exported="true" />
        <receiver android:name="com.geomoby.receiver.GeofenceBroadcastReceiver"
            android:exported="true" >
            <intent-filter >
                <action android:name="com.aol.android.geofence.ACTION_RECEIVE_GEOFENCE"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.geomoby.GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.geomoby.receiver.GeomobyBootManager"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootManager"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver> <!-- ****** END: GeoMoby Services & Receivers ******* -->
        <service
            android:name="com.geomoby.core.presentation.services.background_location.GPSJobService"
            android:foregroundServiceType="location"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.geomoby.core.presentation.services.general.GPSServiceWakeUpper"
            android:exported="true" />

        <service
            android:name="com.geomoby.core.presentation.services.background_location.GPSClassicService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <receiver android:name="com.geomoby.core.presentation.services.geomoby_service.UpdateInitLocationReceiver"
            android:exported="true" />

        <service
            android:name="com.geomoby.core.presentation.services.background_location.GetInitLocationService"
            android:foregroundServiceType="location"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.geomoby"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>